<main class="container mx-auto w-screen h-screen flex items-end">
  <div class="flex justify-between items-center">
    <img src="assets/images/myProfileDefault.png" alt="profile" class="w-6/12">
    <div class="text-9xl font-ubuntu font-black">"Knowledge Is Endless To Learn"</div>
  </div>
</main>
