<main class="container mx-auto w-screen h-screen pt-32">
  <div class="flex justify-center items-center font-sarabun pb-5 border-b-4">
    <div class="text-5xl space-y-9 text-center">
      <p>ยืนยันตัวเลขผู้ติดเชื้อ</p>
      <p class="text-7xl font-bold text-red-400">COVID-19</p>
      <p>ทั้งหมดในประเทศไทย</p>
    </div>
    <div class="ml-10 flex flex-col">
      <div class="flex justify-between bg-red-500 p-5 text-white rounded-md">
        <div class="items-start text-3xl space-y-5">
          <div>ผู้ติดเชื้อสะสม</div>
          <div class="p-3 bg-white text-black rounded-md">เพิ่มขึ้น {{covid && covid.NewConfirmed | number}}</div>
        </div>
        <div class="text-8xl">{{covid && covid.Confirmed | number}}</div>
      </div>
      <div class="grid grid-cols-3 mt-6 space-x-2">
        <div class="bg-yellow-400 p-6 rounded-lg items-center text-center">
          <div class="text-xl">กำลังรักษา</div>
          <div class="text-4xl font-bold">{{covid && covid.Hospitalized | number}}</div>
        </div>
        <div class="bg-green-600 text-white p-6 rounded-lg items-center text-center">
          <div class="text-xl">หายแล้ว</div>
          <div class="text-4xl font-bold">{{covid && covid.Recovered | number}}</div>
        </div>
        <div class="bg-red-700 text-white p-6 rounded-lg items-center text-center">
          <div class="text-xl">เสียชีวิต</div>
          <div class="text-4xl font-bold">{{covid && covid.Deaths | number}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center text-2xl font-sarabun text-white border-b-4 py-3 bg-black">ข้อมูล ณ วันที่
    {{covid && covid.UpdateDate}}</div>
  <div>
    <p class="my-8 text-5xl font-sarabun text-center font-bold">การอัพโหลดรูปภาพแบบหลายรูป</p>
    <div class="flex justify-items-center items-center font-ubuntu justify-center my-6">
      <label for="file-upload" class="custom-file-upload text-3xl bg-red-900 text-white rounded-lg"> Upload
        Images
      </label>
      <input type="file" multiple (change)="onChange($event)" id="file-upload" />
    </div>
    <div class="grid grid-cols-3 h-7 space-x-5">
      <img *ngFor="let item of files" [src]="item">
    </div>
  </div>
</main>
