<header class="{{textColor}} {{bgColor}} absolute font-sarabun w-full h-14 text-xl space-x-3 flex justify-between
  items-center border-b-2">
  <div class="ml-5">
    <a href="/">หน้าหลัก</a>
  </div>
  <div class="flex justify-evenly items-center space-x-10">
    <a href="/work" class="hover:text-gray-400">ประวัติการทำงาน</a>
    <a href="/education" class="hover:text-gray-400">ประวัติการศึกษา</a>
    <a href="/about" class="hover:text-gray-400">เกี่ยวกับ</a>
  </div>
  <div class="flex items-center">
    <a href="/covid" class="hover:text-gray-400 mr-10">API</a>
    <img src="assets/images/defaultProfile.png" alt="icon"
      class="w-11 h-11 bg-gray-500 rounded-full mr-5 hover:text-gray-400">
  </div>
</header>
