<main class="container mx-auto w-screen h-screen">
  <div class="flex justify-between items-center pt-32">
    <div class="flex justify-items-center items-center">
      <div class="rounded-full h-72 w-72 overflow-hidden bg-gray-400">
        <img class="w-full h-full min-h-full ml-8" style="width:200px" src="assets/images/myProfileDefault.png"
          alt="myProfile">
      </div>
      <div class="font-ubuntu ml-5">
        <div class="font-bold text-6xl border-b-2 border-black">
          <p>SUCHUJ</p>
          <p>KAENASA</p>
        </div>
        <p class="text-3xl">02 October 1997</p>
      </div>
    </div>
    <div class="text-right font-sarabun text-2xl space-y-7">
      <div class="inline-flex items-center">
        <p>suchujkaenasa@gmail.com</p>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 ml-6 mt-1" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
        </svg>
      </div>
      <br>
      <div class="inline-flex items-center">
        <p>+66 969655756</p>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 ml-6 mt-1" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" />
        </svg>
      </div>
      <br>
      <div class="inline-flex items-center">
        <p>suchujkaenasa</p>
        <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="line" class="h-8 w-8 ml-6 mt-1"
          role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path fill="currentColor"
            d="M272.1 204.2v71.1c0 1.8-1.4 3.2-3.2 3.2h-11.4c-1.1 0-2.1-.6-2.6-1.3l-32.6-44v42.2c0 1.8-1.4 3.2-3.2 3.2h-11.4c-1.8 0-3.2-1.4-3.2-3.2v-71.1c0-1.8 1.4-3.2 3.2-3.2H219c1 0 2.1.5 2.6 1.4l32.6 44v-42.2c0-1.8 1.4-3.2 3.2-3.2h11.4c1.8-.1 3.3 1.4 3.3 3.1zm-82-3.2h-11.4c-1.8 0-3.2 1.4-3.2 3.2v71.1c0 1.8 1.4 3.2 3.2 3.2h11.4c1.8 0 3.2-1.4 3.2-3.2v-71.1c0-1.7-1.4-3.2-3.2-3.2zm-27.5 59.6h-31.1v-56.4c0-1.8-1.4-3.2-3.2-3.2h-11.4c-1.8 0-3.2 1.4-3.2 3.2v71.1c0 .9.3 1.6.9 2.2.6.5 1.3.9 2.2.9h45.7c1.8 0 3.2-1.4 3.2-3.2v-11.4c0-1.7-1.4-3.2-3.1-3.2zM332.1 201h-45.7c-1.7 0-3.2 1.4-3.2 3.2v71.1c0 1.7 1.4 3.2 3.2 3.2h45.7c1.8 0 3.2-1.4 3.2-3.2v-11.4c0-1.8-1.4-3.2-3.2-3.2H301v-12h31.1c1.8 0 3.2-1.4 3.2-3.2V234c0-1.8-1.4-3.2-3.2-3.2H301v-12h31.1c1.8 0 3.2-1.4 3.2-3.2v-11.4c-.1-1.7-1.5-3.2-3.2-3.2zM448 113.7V399c-.1 44.8-36.8 81.1-81.7 81H81c-44.8-.1-81.1-36.9-81-81.7V113c.1-44.8 36.9-81.1 81.7-81H367c44.8.1 81.1 36.8 81 81.7zm-61.6 122.6c0-73-73.2-132.4-163.1-132.4-89.9 0-163.1 59.4-163.1 132.4 0 65.4 58 120.2 136.4 130.6 19.1 4.1 16.9 11.1 12.6 36.8-.7 4.1-3.3 16.1 14.1 8.8 17.4-7.3 93.9-55.3 128.2-94.7 23.6-26 34.9-52.3 34.9-81.5z">
          </path>
        </svg>
      </div>
      <br>
      <div class="inline-flex items-center">
        <p>y0rch.co</p>
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="globe-asia" class="h-8 w-8 ml-6 mt-1"
          role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
          <path fill="currentColor"
            d="M248 8C111.03 8 0 119.03 0 256s111.03 248 248 248 248-111.03 248-248S384.97 8 248 8zm-11.34 240.23c-2.89 4.82-8.1 7.77-13.72 7.77h-.31c-4.24 0-8.31 1.69-11.31 4.69l-5.66 5.66c-3.12 3.12-3.12 8.19 0 11.31l5.66 5.66c3 3 4.69 7.07 4.69 11.31V304c0 8.84-7.16 16-16 16h-6.11c-6.06 0-11.6-3.42-14.31-8.85l-22.62-45.23c-2.44-4.88-8.95-5.94-12.81-2.08l-19.47 19.46c-3 3-7.07 4.69-11.31 4.69H50.81C49.12 277.55 48 266.92 48 256c0-110.28 89.72-200 200-200 21.51 0 42.2 3.51 61.63 9.82l-50.16 38.53c-5.11 3.41-4.63 11.06.86 13.81l10.83 5.41c5.42 2.71 8.84 8.25 8.84 14.31V216c0 4.42-3.58 8-8 8h-3.06c-3.03 0-5.8-1.71-7.15-4.42-1.56-3.12-5.96-3.29-7.76-.3l-17.37 28.95zM408 358.43c0 4.24-1.69 8.31-4.69 11.31l-9.57 9.57c-3 3-7.07 4.69-11.31 4.69h-15.16c-4.24 0-8.31-1.69-11.31-4.69l-13.01-13.01a26.767 26.767 0 0 0-25.42-7.04l-21.27 5.32c-1.27.32-2.57.48-3.88.48h-10.34c-4.24 0-8.31-1.69-11.31-4.69l-11.91-11.91a8.008 8.008 0 0 1-2.34-5.66v-10.2c0-3.27 1.99-6.21 5.03-7.43l39.34-15.74c1.98-.79 3.86-1.82 5.59-3.05l23.71-16.89a7.978 7.978 0 0 1 4.64-1.48h12.09c3.23 0 6.15 1.94 7.39 4.93l5.35 12.85a4 4 0 0 0 3.69 2.46h3.8c1.78 0 3.35-1.18 3.84-2.88l4.2-14.47c.5-1.71 2.06-2.88 3.84-2.88h6.06c2.21 0 4 1.79 4 4v12.93c0 2.12.84 4.16 2.34 5.66l11.91 11.91c3 3 4.69 7.07 4.69 11.31v24.6z">
          </path>
        </svg>
      </div>
    </div>
  </div>
  <div class="pt-32 font-ubuntu space-y-4">
    <p class="text-5xl font-medium border-b-4 pb-2 border-black">SKILLS</p>
    <p class="text-3xl">Programing Language</p>
    <div class="flex text-3xl font-bold text-white space-x-4">
      <p class="bg-black p-2">C#</p>
      <p class="bg-black p-2">JavaScript</p>
      <p class="bg-black p-2">Java</p>
      <p class="bg-black p-2">SQL</p>
      <p class="bg-black p-2">Swift</p>
      <p class="bg-black p-2">HTML</p>
      <p class="bg-black p-2">Go</p>
      <p class="bg-black p-2">Python</p>
      <p class="bg-black p-2">Dart</p>
      <p class="bg-black p-2">TypeScript</p>
      <p class="bg-black p-2">CSS</p>
    </div>

    <p class="text-3xl">Framework</p>
    <div class="flex text-3xl font-bold text-white space-x-4">
      <p class="bg-black p-2">React</p>
      <p class="bg-black p-2">Next.js</p>
      <p class="bg-black p-2">.Net 5</p>
      <p class="bg-black p-2">.NET Core</p>
      <p class="bg-black p-2">Spring</p>
      <p class="bg-black p-2">Angular</p>
      <p class="bg-black p-2">Nest.js</p>
      <p class="bg-black p-2">Express.Js</p>
      <p class="bg-black p-2">Flutter</p>
    </div>

    <p class="text-3xl">Database</p>
    <div class="flex text-3xl font-bold text-white space-x-4">
      <p class="bg-black p-2">SQL Server</p>
      <p class="bg-black p-2">MySql</p>
      <p class="bg-black p-2">Postgresql</p>
      <p class="bg-black p-2">Redis</p>
      <p class="bg-black p-2">Firebase</p>
    </div>

    <p class="text-3xl">Cloud / DevOps</p>
    <div class="flex text-3xl font-bold text-white space-x-4">
      <p class="bg-black p-2">AWS</p>
      <p class="bg-black p-2">Firebase</p>
      <p class="bg-black p-2">Heroku</p>
      <p class="bg-black p-2">DigitalOcean</p>
      <p class="bg-black p-2">GitLab</p>
      <p class="bg-black p-2">Docker</p>
    </div>
  </div>
</main>
