<main class="container mx-auto w-screen h-screen">
  <div class="py-32 w-full text-center space-y-8">
    <p class="text-8xl font-ubuntu">History of Education</p>
    <p class="text-5xl font-sarabun">ประวัติการศึกษาตั้งแต่ ประถมศึกษา - มหาวิทยาลัย</p>
  </div>
  <div class="grid grid-cols-3 place-items-center gap-2 font-sarabun">
    <div class="max-w-sm rounded overflow-hidden shadow-lg hover:shadow-2xl my-2">
      <div class="h-72">
        <img class="h-full min-h-full"
          src="https://scontent.fbkk2-5.fna.fbcdn.net/v/t31.18172-8/23551063_1931171450233842_4574966998860292578_o.jpg?_nc_cat=110&ccb=1-3&_nc_sid=e3f864&_nc_ohc=qbqqknFM4YcAX_8YCyC&_nc_ht=scontent.fbkk2-5.fna&oh=a7e9fb6dee7247f73bf796018f6de2e2&oe=60C9163C"
          alt="Sunset in the mountains">
      </div>
      <div class="px-6 py-10 h-60">
        <div class="font-bold text-xl mb-2 text-center">โรงเรียนสวนอักษร</div>
        <p class="text-grey-darker text-base">
          เป็นโรงเรียนเอกชน ขนาดเล็กที่ตั้งอยู่ในจังหวะปทุมธานี มีสอนตั้งประ อนุบาลปีที่ 1 - ประถมศึกษาปีที่ 6<br>
          ที่อยู่: เลขที่ 100/99 หมู่ที่ 12 ซอย ปาร์ค 8 วังทองริเวอร์ปาร์ค ถนน พหลโยธิน

        </p>
      </div>
      <div class="px-6 py-4">
        <span class="inline-block bg-grey-lighter font-ubuntu rounded-full px-3 py-1 text-sm font-semibold text-grey-darker
          mr-2">#suanagsornschool</span>
      </div>
    </div>
    <div class="max-w-sm rounded overflow-hidden hover:shadow-2xl shadow-lg my-2">
      <div class="h-72">
        <img class="h-full min-h-full"
          src="https://1.bp.blogspot.com/-8vGuHKH8fLU/VtrbLw3mBEI/AAAAAAAAAEI/vvdy1n0EGh8/s400/%25E0%25B8%25A3%25E0%25B8%25B9%25E0%25B8%259B%2B%25E0%25B8%25A3%25E0%25B8%25A3_6861.jpg"
          alt="Sunset in the mountains">
      </div>
      <div class="px-6 py-10 h-60">
        <div class="font-bold text-xl mb-2 text-center">โรงเรียนฤทธิยะวรรณาลัย</div>
        <p class="text-grey-darker text-base">
          เป็นโรงเรียนรัฐบาล ขนาดใหญ่ที่มีนักเรียก ตั้งแต่ มัธยมปีที่ 1 ถึง 6 จำนวนนักเรียนโดยประมาณ 4,000 กว่าคน
          อยู่ในสถานกองทัพอากาศ
          <br>
          ที่อยู่: 171/3151 แขวงคลองถนน เขตสายไหม กรุงเทพมหานคร 10220
        </p>
        <hr class="my-2">
        <div class="inline-flex">เกรดเฉลี่ยที่ได้หลังจบการศึกษา <p
            class="ml-3 bg-yellow-600 px-2 rounded-xl text-white">3.34</p>
        </div>
      </div>
      <div class="px-6 py-4">
        <span class="inline-block bg-grey-lighter font-ubuntu rounded-full px-3 py-1 text-sm font-semibold text-grey-darker
          mr-2">#rittiya.ac.th</span>
      </div>
    </div>
    <div class="max-w-sm rounded overflow-hidden hover:shadow-2xl shadow-lg my-2">
      <div class="h-72">
        <img class="h-full min-h-full"
          src="https://lh3.googleusercontent.com/proxy/FMeI_FHFCkMIHAWen2NT_JmKsrjeCOS05wqN3aI8cPN77s0XdI-ZzwJyRlViaKfS5tnvoqmvna9twA1t_kCwm5CZ4jmEuut5ZFWfHjXQ2WKfpI4IILmD3Fw3"
          alt="Sunset in the mountains">
      </div>
      <div class="px-6 py-10 h-60">
        <div class="font-bold text-xl mb-2 text-center">มหาวิทยาลัยเทคโนโลยีราชมงคลธัญบุรี</div>
        <p class="text-grey-darker text-base">
          เป็นมหาวิทยาลัยขนาดใหญ่มีหลากหลายคณะ และมีสามารถให้เลือกมากมาย โดยผมเรียนอยู่คณะบริหาร สาขาคอมพิวเตอร์ธุรกิจ
          <br>
          ที่อยู่: เลขที่ 2 พหลโยธิน 87 ซอย 2 ต.ประชาธิปัตย์ อ.ธัญบุรี จ.ปทุมธานี 12130
        </p>
        <hr class="my-2">
        <div class="inline-flex">เกรดเฉลี่ยที่ได้หลังจบการศึกษา <p
            class="ml-3 bg-yellow-600 px-2 rounded-xl text-white">3.63</p>
        </div>
      </div>
      <div class="px-6 py-4">
        <span class="inline-block bg-grey-lighter font-ubuntu rounded-full px-3 py-1 text-sm font-semibold text-grey-darker
          mr-2">#rmutt.ac.th</span>
      </div>
    </div>
  </div>
</main>
