<main class="w-screen h-full font-sarabun">
  <div class="bg-black text-white py-8 h-full">
    <div class="container mx-auto flex flex-col items-start md:flex-row my-12 md:my-24">
      <div class="flex flex-col w-full sticky md:top-36 lg:w-1/3 mt-2 md:mt-12 px-8">
        <p class="ml-2 text-yellow-300 uppercase tracking-loose">ประวัติการทำงาน</p>
        <p class="text-3xl md:text-4xl leading-normal md:leading-relaxed mb-2">โปรเจ็คที่ทำมาทั้งหมด</p>
        <p class="text-sm md:text-base text-gray-50 mb-4">
          จะเป็นประวัติการทำงานที่มีทั้งเกี่ยวกับโปรเจ็คภายในบริษัท และโปรเจ็คที่ไม่ใช้ของบริษัทเอง
        </p>
        <a href="/about"
          class="bg-transparent mr-auto hover:bg-yellow-300 text-yellow-300 hover:text-white rounded shadow hover:shadow-lg py-2 px-4 border border-yellow-300 hover:border-transparent">
          เกี่ยวกับ</a>
      </div>
      <div class="ml-0 md:ml-12 lg:w-2/3 sticky">
        <div class="container mx-auto w-full h-full">
          <div class="relative wrap overflow-hidden p-10 h-full">
            <div class="border-2-2 border-yellow-555 absolute h-full border"
              style="right: 50%; border: 2px solid #FFC100; border-radius: 1%;"></div>
            <div class="border-2-2 border-yellow-555 absolute h-full border"
              style="left: 50%; border: 2px solid #FFC100; border-radius: 1%;"></div>
            <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
              <div class="order-1 w-5/12"></div>
              <div class="order-1 w-5/12 px-1 py-4 text-right">
                <p class="mb-3 text-base text-yellow-300"> มหาวิทยาลัยปีที่ 3 เทอม 2</p>
                <h4 class="mb-3 font-bold text-lg md:text-2xl">โปรเจ็คจบ</h4>
                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                  เป็นโปรเจ็คเกี่ยวกับระบบ สหกิจศึกษาของมหาวิทยาลัยเทคโนโลยีราชมงคลธัญบุรี คณะบริหารธุรกิจคอมพิวเตอร์
                  สาขาคอมพิวเตอร์ธุรกิจ
                  เป็นเว็บที่ใช้สำหรับจัดทำเอกสารเพื่ออกสหกิจศึกษาพร้อมทั้งมีฟังก์ชั่นที่อาจารย์ประจำสาขาวิชา
                  หรืออาจารย์ที่ค่อยทำหน้าที่เกี่ยวกับระบบสหกิจศึกษาจัดการนักศึกษาของตัวเองได้ง่ายขึ้น
                  แล้วนักศึกษาสามารถเข้ามาดูสถานประกอบการที่รุ่นพี่เข้าฝึกงานได้เพื่อเป็นแนวทางในการหาบริษัทออกสหกิจศึกษา
                </p>
                <div class="inline-flex">สามารถเข้าดูตัวอย่างเว็บไซต์ได้ที่ <a href="http://edu.y0rch.co/"
                    target="_blank" class="text-yellow-300 underline text-md ml-2">
                    edu.y0rch.co
                  </a>
                </div>
                <div class="inline-flex">ภาษาที่ใช้เขียน <p class="bg-blue-400 w-6 ml-3 px-1">C#</p>
                  <p class="bg-purple-600 w-auto ml-3 px-1">.NET Core MVC</p>
                </div>
                <div class="inline-flex">ฐานข้อมูลที่ใช้ <p class="bg-red-600 ml-3 px-1">MSSQL</p>
                </div>
                <div class="inline-flex ml-2">ระบบรันบน <p class="bg-blue-700 ml-3 px-1">Docker</p>
                </div>
              </div>
            </div>
            <div class="mb-8 flex justify-between items-center w-full right-timeline">
              <div class="order-1 w-5/12"></div>
              <div class="order-1  w-5/12 px-1 py-4 text-left">
                <p class="mb-3 text-base text-yellow-300">1 May, 2020</p>
                <h4 class="mb-3 font-bold text-lg md:text-2xl">PTT Digital Solutions Company Limited</h4>
                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                  ทำงานอยู่ที่บริษัท PTT Digital Solutions Company Limited ตำแหน่ง Junior Developer
                  โปรเจ็คที่ได้รับมอบหมายให้ดูแลคือโปรเจ็ค Smart Procurement เป็นระบบจัดซื้อจัดจ้าง จะมีอยู่ทั้งหมด 7
                  โดยหน้าที่รักจะเป็นการทำ Enhancement ฟังก์ชั่นใหม่ และ Fixed issues และ bugs
                  Module
                </p>
                ภาษาที่ใช้เขียน
                <br>
                <div class="inline-flex ml-3">
                  - ส่วนหน้าบ้าน
                  <p class="bg-blue-400 ml-3 px-1">ReactJS</p>
                  <p class="bg-white text-black w-auto ml-3 px-1">NextJS</p>
                </div>
                <div class="inline-flex ml-3">
                  - ส่วนหลังบ้าน
                  <p class="bg-red-700 ml-3 px-1">NestJS</p>
                  <p class="bg-purple-600 w-auto ml-3 px-1">C# .Net Core</p>
                </div>
                <div class="inline-flex">ฐานข้อมูลที่ใช้ <p class="bg-yellow-600 ml-3 px-1">MSSQL</p>
                  <p class="bg-green-600 ml-3 px-1">Event Store</p>
                </div>
                <div class="inline-flex">ระบบรันบน <p class="bg-blue-700 ml-3 px-1">Docker</p>
                  <p class="bg-yellow-300 text-black ml-3 px-1">Jenkins</p>
                  <p class="bg-red-700 ml-3 px-1">Open Shift</p>
                </div>
              </div>
            </div>
            <div class="mb-32 flex justify-between flex-row-reverse items-center w-full left-timeline">
              <div class="order-1 w-5/12"></div>
              <div class="order-1 w-5/12 px-1 py-4 text-right">
                <p class="mb-3 text-base text-yellow-300"> 10 May, 2021</p>
                <h4 class="mb-3 font-bold text-lg md:text-2xl">งาน Freelance ให้กับทีม <p class="text-yellow-500">
                    CATHODTech</p>
                </h4>
                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                  ทำเกี่ยวกับ UI ตาม Figma ที่ออกแบบมาแล้ว โดยต้องทำ Business Logic ตามที่ได้รับมา
                </p>
                <div class="inline-flex">ภาษาที่ใช้เขียน <p class="bg-blue-600 ml-3 px-1">ReactJS</p>
                </div>
              </div>
            </div>
          </div>
          <img class="mx-auto -mt-40 md:-mt-40"
            src="https://user-images.githubusercontent.com/54521023/116968861-ef21a000-acd2-11eb-95ac-a34b5b490265.png" />
        </div>
      </div>
    </div>
  </div>
</main>
